<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration     PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Customer" type="com.shop.bean.Customer" />
		<typeAlias alias="ProductCategory" type="com.shop.bean.ProductCategory" />
		<typeAlias alias="Products" type="com.shop.bean.Products"/>
		<typeAlias alias="CustomerAddress" type="com.shop.bean.CustomerAddress"/>
		<typeAlias alias="Admin" type="com.shop.bean.Admin"/>
	</typeAliases>
	<mappers>
		<mapper resource="mybatis-mapper/Tbl_CustomerMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_ProductCategoryMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_ProductsMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_CustomerAddressMapper.xml"/>
		<mapper resource="mybatis-mapper/Tbl_AdminMapper.xml"/>
	</mappers>
</configuration>
