<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!--表 customer操作方法-->
<mapper namespace="TradeManager">
	<resultMap type="Trade" id="TradeMap">
		 	<id property="id" column="id" />
		 	<result property="merNo" column="MerNo" />
		 	<result property="billNo" column="BillNo" />
		 	<result property="amount" column="Amount" />
		 	<result property="result" column="Result" />
		 	<result property="succeed" column="Succeed" />
		 	<result property="merRemark" column="MerRemark" />
	</resultMap>
	<!--分页查询 记录-->
	<select id="queryPage" parameterType="Trade" resultMap="TradeMap">
		select * from trade t
		where 1=1 
        limit #{startRow},#{limit}
	</select>
	<!--分页查询  计数-->
	<select id="queryPageCount" parameterType="Trade" resultType="int">
		select count(*) from trade t
		where 1=1 
	</select>
	<!--添加方法-->
	<insert id="insert" parameterType="Trade">
		insert into trade(
				MerNo,
				BillNo,
				Amount,
				Result,
				Succeed,
				MerRemark
		) values(
				#{MerNo},
				#{BillNo},
				#{Amount},
				#{Result},
				#{Succeed},
				#{MerRemark}
			)
	</insert>
</mapper>



