<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!--表 sms_send_log操作方法-->
<mapper namespace="SmsSendLogManager">
	<resultMap type="SmsSendLog" id="SmsSendLogMap">
		 	<id property="id" column="id" />
		 	<result property="phone" column="phone" />
		 	<result property="sendTime" column="send_time" />
		 	<result property="content" column="content" />
		 	<result property="identifyingCode" column="identifying_code" />
		 	<result property="status" column="status" />
		 	<result property="businessType" column="business_type" />
	</resultMap>
	
	<select id="selectIdentifyingCode" parameterType="string" resultType="string">
		select identifying_code from sms_send_log 
		where
		phone=#{phone} and status='0'
		order by id desc;
	</select>
	
	<select id="selectCount" parameterType="SmsSendLog" resultMap="SmsSendLogMap">
		select * from sms_send_log t
		where 1=1 
    		<if test="id != null and id != ''">
    			 and t.id = #{id}
    		</if>
    		<if test="phone != null and phone != ''">
    			 and t.phone = #{phone}
    		</if>
    		<if test="sendTime != null and sendTime != ''">
    			 and t.send_time = #{sendTime}
    		</if>
    		<if test="content != null and content != ''">
    			 and t.content = #{content}
    		</if>
    		<if test="identifyingCode != null and identifyingCode != ''">
    			 and t.identifying_code = #{identifyingCode}
    		</if>
    		<if test="status != null and status != ''">
    			 and t.status = #{status}
    		</if>
    		<if test="businessType != null and businessType != ''">
    			 and t.business_type = #{businessType}
    		</if>
	</select>
	<!--添加方法-->
	<insert id="insert" parameterType="SmsSendLog">
		insert into sms_send_log(
				phone,
				send_time,
				content,
				identifying_code,
				status,
				business_type
		) values(
				#{phone},
				#{sendTime},
				#{content},
				#{identifyingCode},
				#{status},
				#{businessType}
			)
	</insert>
	<!--更新方法-->
	<update id="invalidationIdentifyingCode" parameterType="string">
		update sms_send_log t
			set
	    		t.status ='1'
			where
       			t.phone=#{phone}
	</update>
</mapper>



