<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!--表 ip_security_filter操作方法-->
<mapper namespace="IpSecurityFilterManager">
	<resultMap type="IpSecurityFilter" id="IpSecurityFilterMap">
		 	<result property="id" column="id" />
		 	<result property="ips" column="ips" />
		 	<result property="tranCodes" column="tran_codes" />
		 	<result property="status" column="status" />
	</resultMap>
   
	<!--查询方法-->
	<select id="select" parameterType="IpSecurityFilter" resultMap="IpSecurityFilterMap">
		select * from ip_security_filter t
		where t.status = '0'
	</select>
	
</mapper>



