<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!--表 bank_config操作方法-->
<mapper namespace="AreaCodeManager">
	<resultMap type="AreaCode" id="AreaCodeMap">
		<result column="area_no" property="areaNo"/>
		<result column="area_name" property="areaName"/>
		<result column="area_level" property="areaLevel"/>
		<result column="attr_city_no" property="attrCityNo"/>
		<result column="attr_city_name" property="attrCityName"/>
		<result column="attr_prov_no" property="attrProvNo"/>
		<result column="attr_prov_name" property="attrProvName"/>
	</resultMap>
   
	<!--查询所有省份-->
	<select id="selectProvince" resultMap="AreaCodeMap">
		select attr_prov_no,attr_prov_name from area_code GROUP BY attr_prov_name
	</select>
	<!--查询省份下所有的市-->
	<select id="selectCity" parameterType="string" resultMap="AreaCodeMap">
		select attr_city_no,attr_city_name from area_code 
		<where>attr_prov_no = #{value}</where>
		GROUP BY attr_city_name
	</select>
	
	<!-- 根据城市代码查询城市名称 -->
	<select id="selectCityName" parameterType="string" resultType="string">
		select attr_city_name from area_code 
		<where>attr_city_no = #{value}</where>
		GROUP BY attr_city_name
	</select>
	
	<!-- 根据省份代码查询省份名称  -->
	<select id="selectProvinceName" parameterType="string" resultType="string">
		select attr_prov_name from area_code 
		<where>attr_prov_no = #{value}</where>
		GROUP BY attr_prov_name
	</select>
</mapper>



